In [1]:
n = [1,2,45,23,78,900]

In [2]:
max(n)

900

In [3]:
min(n)

1

In [4]:
len(n)

6

In [7]:
'basith'[2]

's'

In [11]:
sum(n)

1049

In [14]:
for n in range(4):
    print(n)

0
1
2
3

In [28]:
counter = 0
for n in range(1,3):
    counter = counter+n;

print(counter)

3

In [64]:
#Function counting the numbers till a given number from 1

def count_func(x):
    counter = 0
    for n in range(1,x+1):
        counter = counter + n
        print(n)
    print('sum of numbers till ',x,' is = ',counter)

In [65]:
# Calling the count_func(x)

count_func(10)

1
2
3
4
5
6
7
8
9
10
sum of numbers till  10  is =  55

In [55]:
def even_or_odd(x):
    if x%2==0:
        return 'even'
    else:
        return 'odd'

In [62]:
even_or_odd(204.0)

'even'

In [73]:
def table_gen(x):
    print('*************')
    for n in range(1,11):
        print(x,'*',n,'=',x*n)
    print('*************')

In [75]:
table_gen(7)

*************
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
*************

In [2]:
data = ['Hyderabad', 'little rock', 'chicago','san fransisco']

In [3]:
data

['Hyderabad', 'little rock', 'chicago', 'san fransisco']

In [4]:
for n in range(len(data)):
    print('cities = '+data[n])

cities = Hyderabad
cities = little rock
cities = chicago
cities = san fransisco

In [14]:
i = 0

while i<len(data):
    print(data[i])
    i +=1

Hyderabad
little rock
chicago
san fransisco
bangalore

In [12]:
#Addition to the cities 
data.append('bangalore')

In [13]:
data

['Hyderabad', 'little rock', 'chicago', 'san fransisco', 'bangalore']

In [15]:
#deletion from cities
data.remove('chicago')

In [16]:
data

['Hyderabad', 'little rock', 'san fransisco', 'bangalore']

In [32]:
#tuples 
data_tuple = ('new york', 'washington','detroit','new york')

In [18]:
data_tuple

('new york', 'washington')

In [33]:
data_tuple.count('new york')

2

In [34]:
#dictionaries

year_of_births = {'abdul':'1993','raheem':'1992','shoaib':'1994'}

In [35]:
year_of_births

{'abdul': '1993', 'raheem': '1992', 'shoaib': '1994'}

In [39]:
year_of_births['shoaib']

'1994'

In [40]:
year_of_births.popitem()

('shoaib', '1994')

In [41]:
year_of_births

{'abdul': '1993', 'raheem': '1992'}

In [51]:
help(year_of_births.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [47]:
year_of_births.pop('raheem')

KeyError: 'raheem'

In [55]:
year_of_births
#adding elements to the list
year_of_births['wahed']='1994'
year_of_births['saba']='1114'
year_of_births['bilal']='2784'

In [56]:
year_of_births

{'abdul': '1993', 'wahed': '1994', 'saba': '1114', 'bilal': '2784'}

In [57]:
year_of_birth_2 = {'rohan':'1564','soman':'1212','jack':'4536'}

In [60]:
year_of_births.update(year_of_birth_2)

In [69]:
year_of_births

{'saba': '1114',
 'bilal': '2784',
 'rohan': '1564',
 'soman': '1212',
 'jack': '4536'}

In [70]:
data

['Hyderabad', 'little rock', 'san fransisco', 'bangalore']

In [71]:
new_data = ['karachi','calcutta']

In [72]:
data.extend(new_data)

In [73]:
data

['Hyderabad',
 'little rock',
 'san fransisco',
 'bangalore',
 'karachi',
 'calcutta']

In [88]:
#print even number till 20 using while loop

x = 0
while x<=20:
    if x%2 == 0 :
        print(x)
    x +=1

0
2
4
6
8
10
12
14
16
18
20

In [93]:
#print even number till 20 using for loop

for n in range(21):
    if n%2 == 0:
        print(n,end= ' ')

0 2 4 6 8 10 12 14 16 18 20