In [1]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('Fossil_Fuel_Data.csv',skiprows=4)

In [25]:
display(df.head(10))

df.drop({'Indicator Name','Indicator Code'},axis=1,inplace=True)
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,46.895180,49.304292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,23.081635,23.471278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,46.508554,48.305593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Albania,ALB,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,56.395339,61.421801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Andorra,AND,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,ARB,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.227096,95.478343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,United Arab Emirates,ARE,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.614883,86.128349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,ARG,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.966064,87.722407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.895180,49.304292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.081635,23.471278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.508554,48.305593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.210791,86.121582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.488503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.575305,86.791432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.563324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.095759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.set_index('Country Name')
year_del = []
for n in range(1961,1981):
    year_del.append(str(n))
#df.drop(year_del,axis = 1, inplace=True)

df

KeyError: "['1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980'] not found in axis"

In [35]:
display(df.head(50))
df.to_csv('E:\Fossil_Final.csv')

,Country Name,Country Code,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,51.342579,52.578118,52.263718,52.926142,52.201595,52.190179,52.900929,52.595691,...,46.895180,49.304292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,21.991861,23.180888,22.633979,21.192006,21.300721,20.407632,21.055067,20.646041,...,23.081635,23.471278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,19.159395,16.616550,17.623405,17.065249,20.307574,19.891289,20.384236,22.017965,...,46.508554,48.305593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Albania,ALB,78.037910,77.836534,78.875944,81.097477,81.433762,77.058313,78.637511,80.381404,...,56.395339,61.421801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,ARB,91.573704,92.244831,93.263206,93.384990,92.879001,93.415555,93.671833,94.289025,...,96.227096,95.478343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,United Arab Emirates,ARE,NaN,NaN,99.999989,99.999992,NaN,100.000000,100.000000,100.000000,...,93.614883,86.128349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,ARG,90.017182,90.445184,89.161886,88.458264,87.156400,88.450470,88.161659,90.181006,...,88.966064,87.722407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75.492844,74.561866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Australia,AUS,92.775579,92.925446,92.849429,93.206714,92.878855,93.421742,93.738609,93.578428,...,93.708049,93.386836,89.625630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Austria,AUT,83.963760,82.741587,82.445892,81.835114,81.042812,79.748397,79.578858,74.693154,...,66.253804,64.813156,65.661822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.211233,98.365990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Burundi,BDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Belgium,BEL,92.038936,89.884392,84.381063,82.668778,79.150952,77.065769,76.449183,76.085109,...,70.820306,72.652505,75.870784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Benin,BEN,7.291785,8.537324,8.283184,8.485302,10.151660,8.716482,7.521615,7.277810,...,36.475069,36.724581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Burkina Faso,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Bangladesh,BGD,32.712616,34.960241,33.385677,34.915565,37.326727,39.086847,43.873195,44.185035,...,72.861672,73.768938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bulgaria,BGR,88.044758,87.477517,86.372795,86.137050,85.650535,86.753276,86.785038,84.210116,...,70.208479,71.045923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bahrain,BHR,99.999968,NaN,100.000000,100.000000,99.999976,100.000000,NaN,100.000000,...,NaN,99.365847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Bahamas, The",BHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.504002,77.522045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.672040,92.440375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Belize,BLZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Bermuda,BMU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Bolivia,BOL,64.848394,64.449464,60.801685,60.672242,59.600958,56.756959,66.162090,64.006586,...,84.180899,84.153290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Brazil,BRA,52.907037,52.550575,49.653403,47.402732,48.213363,50.008101,49.502709,49.979240,...,58.018082,59.107533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Barbados,BRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Brunei Darussalam,BRN,99.331217,99.429186,99.508019,99.615142,99.673108,99.673534,99.726435,99.724476,...,99.994379,99.995188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Botswana,BWA,50.977415,50.839800,48.823023,47.926538,48.678741,51.449082,53.934442,54.891922,...,68.826033,74.687984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Central African Republic,CAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Canada,CAN,79.513844,79.066545,77.009061,76.848924,75.406593,73.564018,73.794908,74.022951,...,73.173516,73.192874,74.089062,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Central Europe and the Baltics,CEB,96.557429,96.556689,96.219062,95.746039,95.018937,94.512025,94.027469,93.297837,...,77.707679,76.245364,79.363738,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Switzerland,CHE,65.796704,64.349259,65.600117,63.101521,60.787020,61.780104,59.891661,60.109148,...,52.105559,48.741860,50.168225,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Channel Islands,CHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Chile,CHL,73.994792,70.220140,68.436898,68.270186,66.814360,66.705175,65.912990,69.306028,...,68.649802,73.250544,74.647212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,China,CHN,68.381249,68.873186,69.606481,71.163906,71.567481,72.224606,73.235711,74.235217,...,88.237493,87.670431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Cote d'Ivoire,CIV,30.991182,28.325592,25.917949,26.216907,24.945533,30.383355,29.866598,28.364518,...,26.658122,26.492330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Cameroon,CMR,16.527808,17.770618,18.609233,19.176786,20.014074,19.272477,18.822423,19.169509,...,35.781756,38.317857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Congo, Dem. Rep.",COD,12.278698,9.737507,12.273035,13.704550,10.671877,9.451565,10.192295,10.523512,...,4.176638,5.355814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"Congo, Rep.",COG,38.158383,39.542343,43.968315,40.384532,41.007614,38.419061,37.689250,34.336396,...,41.607142,40.480603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Colombia,COL,67.032052,66.769104,67.774474,67.350890,66.487728,67.825613,67.702641,67.478175,...,76.762127,76.685693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Comoros,COM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Cabo Verde,CPV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Costa Rica,CRI,56.106796,54.970785,52.941010,52.079518,53.088558,53.332367,54.695253,54.547874,...,49.377795,49.880273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Caribbean small states,CSS,96.035997,95.667686,95.757828,95.555814,95.677200,95.548904,95.245562,95.653291,...,96.941179,96.904343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN