In [1]:
name = 'basith'

In [2]:
name

'basith'

In [3]:
name = "basith"

In [4]:
name

'basith'

In [5]:
print(name)

basith

In [6]:
a=10; b=20

c=a+b;

In [7]:
print(c)

30

In [12]:
# Example of ********* tuples ***********

names = ('nick', 'jones', 'jabbar')

In [10]:
names

('nick', 'jones', 'jabbar')

In [14]:
# Example of ********* List ***********

names1 = ['nick', 'jones', 'jabbar']

In [15]:
names1

['nick', 'jones', 'jabbar']

In [16]:
names1.append('shoaib')

In [17]:
names1

['nick', 'jones', 'jabbar', 'shoaib']

In [18]:
names.append('waqar')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
names

In [19]:
names1.remove('jones')

In [20]:
names1

['nick', 'jabbar', 'shoaib']

In [72]:
#program to calculate rent in a year based on per month rate

singleRate = 799
doubleRate = 999
time = 12
print('Please select no of bedrooms.\n1.Single Room\n2.Double Room')
choice = int(input());
totalRent = 0

if choice == 1:
     totalRent = singleRate*time
elif choice == 2:
     totalRent = doubleRate*time
print('the rent for the year is '+str(totalRent))

Please select no of bedrooms.
1.Single Room
2.Double Room
2
the rent for the year is 11988

In [22]:
a = input()

raheem

In [23]:
print(a)

raheem

In [55]:
range(5)

range(0, 5)

In [57]:
print(range(5))

range(0, 5)

In [58]:
range(3,5)

range(3, 5)

In [59]:
print(3,5)

3 5

In [60]:
range(1,5)

range(1, 5)

In [62]:
for x in range(1,5):
    print(x)

1
2
3
4

for x in range (10):
    print('my name is basith')

In [69]:
for x in range (20):
    if x%2==0:
        print(str(x)+ ' is an even number')
    else:
        print(str(x)+ ' is an odd number')

0 is an even number
1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number
16 is an even number
17 is an odd number
18 is an even number
19 is an odd number

In [75]:
for x in range (1,25):
    flag = true
    if(25%(x/2)==0):
        
    else:

Not prime
Not prime
prime
prime
Not prime
prime
prime
prime
prime
Not prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime

In [78]:
idea = False

type(idea)

bool

In [12]:
cities = ['little rock', 'New York', 'Chicago']

In [13]:
print(cities)

['little rock', 'New York', 'Chicago']

In [15]:
cities.append('new jersey')

In [16]:
print(cities)

['little rock', 'New York', 'Chicago', 'new jersey']

In [17]:
cities.remove('little rock')

In [18]:
print(cities)

['New York', 'Chicago', 'new jersey']

In [19]:
"I am in Little Rock"

'I am in Little Rock'

In [20]:
"I am in Little Rock's"

"I am in Little Rock's"

In [22]:
senten = 'I am in Little Rock\'s'

In [23]:
senten

"I am in Little Rock's"

In [24]:
print(senten)

I am in Little Rock's

In [32]:
print('Press "Enter"')

Press "Enter"

In [38]:
# Basic print formatting of python

print('Press "Enter"\nNew Line Starts tab \t here')

Press "Enter"
New Line Starts tab 	 here

In [39]:
2**4

16

#Arithmetic Operations

In [40]:
#Addition

x = 3 + 5

print (x)

8

In [41]:
#Substraction

y = 6 - 3

print (y)

3

In [42]:
#division

z = 15 / 5

print (z)

3.0

In [43]:
#Returning Remainder

a = 9 % 4

print (a)

1

In [46]:
#Multiplication

b = 3 * 5

print (b)

15

In [49]:
#Power Calculation

c = 3**3

print (c)

27

In [50]:
print(len)

<built-in function len>

In [52]:
cities

['New York', 'Chicago', 'new jersey']

In [53]:
cities=['New York', 'Chicago', 'new jersey']

In [54]:
cities

['New York', 'Chicago', 'new jersey']

In [56]:
print(len(cities))

3

In [57]:
cities.pop(1)

'Chicago'

In [58]:
cities.pop(0)

'New York'

In [59]:
cities.pop(2)

IndexError: pop index out of range

In [60]:
cities.pop(-2)

IndexError: pop index out of range

In [61]:
cities.pop(-1)

'new jersey'

    Dictionary

In [2]:
dict['city'] = 'Hyderabad'

TypeError: 'type' object does not support item assignment